<li class="job <%= color %>" id="job_<%= id %>">
    <img class="gravatar" src="http://www.gravatar.com/avatar/<%= email %>?s=30" />
    <a href="<%= url %>" class="project-name <%= color %>"><%= name %></a>
    <span class="<%= faceclass %>"><%= face %></span>
</li>
